* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

#header {
    border: 3px solid purple;
    /* display: flex; */
    /* align-items: center; */

}

/* 
#header h3 {
    padding-top: 25px;
    padding-left: 10px;
} */

 .links {
    display: flex;
    justify-content: flex-end;
    gap: 24px;

    align-items: center;
 }

.logo {
    width: 25px;
}